<div class="col-xs-5">
  <h2>Your Trips</h2>
  <div class="trips-container">
    <% if @trips %>
    <% @trips.each do |trip| %>
    <div class="trip">
      <p>
        <%= link_to "#{trip.origin_city} to #{trip.destination_city}", trip %>

        <%= render partial: 'trip_links', locals: { trip: trip } %>
      </p>
    </div>
    <% end %>
    <% end %>
  </div>
  <%= button_to 'Make a new trip', new_trip_path %>
</div>