<div class="col-xs-5">
  <h2>Enter Trip Details</h2>
  <div class="trips-container">
    <% if @trips %>
    <% @trips.each do |trip| %>
      <li>
        <%= link_to trip do %>
        trip.origin_city to trip.destination_city
        <%end%></li>
      <%= render partial: 'trip_links', locals: { trip: trip } %>
    <% end %>
    <% end %>
  </div>
  <%= render 'new' %>
</div>
<div class="trip-info col-xs-4 pull-right" style="display: none">
  <p>Render this div hidden and with empty paragraphs that can be filled with JavaScript calls based on form fields being completed</p>
  <p>
    <!-- [X] will be a checkbox -->
    [X] $884: Cheapest roundtrip direct flight from
    SFO-AKL on <a href="#">Qantas Airways</a>
  </p>

  <p>
    [X] Activate wireless roaming on a U.S. carrier
  </p>
  <p>
    [X] Get a short-term <a href="#">international bank account extension</a> valid for U.S. citizens
  </p>
  <p>
    [X] Check out <a href="#">expatnation.co.nz</a> for co-housing options with American roommates
  </p>
</div>