<% if current_user %>
<p><%= link_to 'Your trips', trips_path %></p>
<% else %>
<p>
  Rose... before I go, I just want to tell you: you were fantastic. Absolutely fantastic. And do you know what? So was I! The past is another country. 1987's just the Isle of Wight. Yeah, I came first in jiggery pokery, what about you? An old friend of mine. Well, enemy. The stuff of nightmares reduced to an exhibit. I'm getting old. I think you need a doctor. Run. Nice to meet you, Rose. Lots of planets have a North. Now, don't antagonize her. I love a happy medium! The thing is, Adam, time travel is like visiting Paris. You can't just read the guidebook, you've got to throw yourself in! Eat the food, use the wrong verbs, get charged double and end up kissing complete strangers! Or is that just me?
</p>
<p>
  Nine hundred years of time and space, and I've never been slapped by someone's mother. Fantastic! t's called the TARDIS, this thing. T-A-R-D-I-S. That's Time And Relative Dimension In Space. That’s okay. Culture shock. Happens to the best of us. One day, just one day, maybe I'll meet somebody who gets the whole 'don't wander off' thing. Lots of planets have a North. Now, don't antagonize her. I love a happy medium! We're fallin' through space, you and me, clinging to the skin of this tiny little world, and if we let go...
</p>
<p>
  And I'm looking for a blonde in a Union Jack. A specific one, mind, I didn't just wake up this morning with a craving. One day, just one day, maybe I'll meet somebody who gets the whole 'don't wander off' thing. Run. We're fallin' through space, you and me, clinging to the skin of this tiny little world, and if we let go... t's called the TARDIS, this thing. T-A-R-D-I-S. That's Time And Relative Dimension In Space. That’s okay. Culture shock. Happens to the best of us. Lots of planets have a North.
</p>
<% end %>