<h1>Welcome to Planet Hopper!</h1>
<%= render 'new' %>
<button class="login">Login with Facebook</button>
<%= link_to trips_path do %><button>Trips!</button>
<% end %>
<!-- <a href="/trips"><button>Go to trips</button></a> -->