// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: #dfdfdf;
}

.container:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}